.Pokemon-img:hover{
    transform: scale(1.75); 
    transition-duration: 1s;
}

.Pokecard {
    background-color: azure;
    border: rgb(80, 79, 79) 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Pokecard {
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
}